<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>信息完善</title>
<link rel="stylesheet" href="/assets/layui/css/layui.css">
<script src="/assets/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/fillInfo/fill.js"></script>
<script type="text/javascript" src="/assets/js/fillInfo/upload.js"></script>
</head>
<body style="background-color: #F2F2F2;">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">爱上瑜伽</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item"><a href="">控制台</a></li>
				<li class="layui-nav-item"><a href="">商品管理</a></li>
				<li class="layui-nav-item"><a href="">用户</a></li>
				<li class="layui-nav-item"><a href="javascript:;">其它系统</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">邮件管理</a>
						</dd>
						<dd>
							<a href="">消息管理</a>
						</dd>
						<dd>
							<a href="">授权管理</a>
						</dd>
					</dl></li>
			</ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<p th:object="${session.user}">
					<p>
						<span th:text="*{headImg}"></span>.
					</p>
					<p>
						<span th:text="*{account}"></span>.
					</p>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item"><a href="">退了</a></li>
			</ul>
		</div>
		<div style="padding: 40px;" class="layui-container">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md2">

					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item layui-nav-itemed"><a class=""
							href="javascript:;">我的信息</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">我的订单</a>
								</dd>
								<dd>
									<a href="javascript:;">我的好友</a>
								</dd>
								<dd>
									<a href="javascript:;">我的钱包</a>
								</dd>
								<dd>
									<a href="javascript:;">信息完善</a>
								</dd>
								<dd>
									<a href="javascript:;">密码找回</a>
								</dd>
								<dd>
									<a href="">超链接</a>
								</dd>
							</dl></li>
						<li class="layui-nav-item"><a href="">场馆信息</a></li>
						<li class="layui-nav-item"><a href="">主页图文</a></li>
					</ul>
				</div>
				<div class="layui-col-md8 layui-col-md-offset1">
					<div class="layui-card">
						<div class="layui-card-header">信息完善</div>
						<div class="layui-card-body">
							<!-- 教练信息完善 -->
							<form class="layui-form layui-form-pane">

								<div class="layui-tab layui-tab-brief"
									lay-filter="docDemoTabBrief">
									<ul class="layui-tab-title">
										<li class="layui-this"><a href="fill.html">基本信息填写</a></li>
										<li><a href="upload.html">上传头像</a></li>
										<li><a href="">密码修改</a></li>
									</ul>

								</div>
								<p>*必填项</p>
								<blockquote class="layui-elem-quote layui-quote-nm">
									<div class="layui-form-item" style="padding-top: 5px;">
										<label class="layui-form-label">权限设置：</label>
										<div class="layui-input-block">
											<input type="radio" name="authority" value="0" title="私密">
											<input type="radio" name="authority" value="1" title="好友可见">
											<input type="radio" name="authority" value="2" title="全部可见"
												checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">课时费：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="price" required
												lay-verify="required" placeholder="请设置您的课时费"
												autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">空闲时间：</label>
										<div class="layui-input-block">
											<input type="radio" name="freetime" value="0 " title="上午有空">
											<input type="radio" name="freetime" value="1" title="下午有空">
											<input type="radio" name="freetime" value="2" title="全天有空"
												checked>
										</div>
									</div>

									<div class="layui-form-item">
										<label class="layui-form-label">是否接课：</label>
										<div class="layui-input-block">
											<input type="radio" name="acceptState" value="0 " title="接课">
											<input type="radio" name="acceptState" value="1" title="不接课"
												checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">流派：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="genre" required
												lay-verify="required" placeholder="请输入您的流派"
												autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">电话权限：</label>
										<div class="layui-input-block">
											<input type="radio" name="telvisible" value="0" title="全部可见">
											<input type="radio" name="telvisible" value="1" title="好友可见">
											<input type="radio" name="telvisible" value="2"
												title="场馆和预约的人可见" checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">手机号码：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="telphone" required
												lay-verify="required" autocomplete="off" class="layui-input"
												placeholder="请输入您的手机号码">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label" style="width: 160px">是否接受私教课程：</label>
										<div class="layui-input-block">
											<input type="radio" name="persoalTrainer" value="0"
												title="接受"> <input type="radio"
												name="persoalTrainer" value="1" title="不接受" checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">期望薪资：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="expectedSalary" required
												lay-verify="required" autocomplete="off" class="layui-input"
												placeholder="请输入您的期望薪资">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">qq号码：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="qq" required lay-verify="required"
												autocomplete="off" class="layui-input"
												placeholder="请输入您的QQ号码">
										</div>
									</div>
								</blockquote>
								<p>*非必填项</p>
								<blockquote class="layui-elem-quote layui-quote-nm">
									<div class="layui-form-item">
										<label class="layui-form-label">昵称</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="nickName" required
												lay-verify="required" placeholder="请输入昵称" autocomplete="off"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-upload">
											<button type="button" class="layui-btn" id="headImg">选择图片</button>
											<div class="layui-upload-list">
												<img class="layui-upload-img" id="img"
													style="width: 130px; height: 150px;">
												<p id="message"></p>
											</div>
											<button type="button" class="layui-btn" id="upload">上传头像</button>
										</div>
									</div>
									<div class="layui-form-item" style="padding-top: 20px;">
										<label class="layui-form-label">地址：</label>
										<div class="layui-input-block">
											<button class="layui-btn" id="choose" type="button">选择地址</button>
										</div>
									</div>
								</blockquote>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit lay-filter="coachInfo">立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form>

							<!-- 学员信息完善 -->
							<!-- 						<form class="layui-form layui-form-pane">

								<div class="layui-tab layui-tab-brief"
									lay-filter="docDemoTabBrief">
									<ul class="layui-tab-title">
										<li class="layui-this"><a href="fill.html">基本信息填写</a></li>
										<li><a href="upload.html">上传头像</a></li>
										<li><a href="">密码修改</a></li>
									</ul>

								</div>
								<p>*必填项</p>
								<blockquote class="layui-elem-quote layui-quote-nm">
									<div class="layui-form-item" style="padding-top: 5px;">
										<label class="layui-form-label">权限设置：</label>
										<div class="layui-input-block">
											<input type="radio" name="authority" value="0" title="私密">
											<input type="radio" name="authority" value="1" title="好友可见">
											<input type="radio" name="authority" value="2" title="全部可见"
												checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">手机号码：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="telphone" required
												lay-verify="required" autocomplete="off" class="layui-input"
												placeholder="请输入您的手机号码">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label" style="width: 160px">是否接受私教课程：</label>
										<div class="layui-input-block">
											<input type="radio" name="persoalTrainer" value="0"
												title="接受"> <input type="radio"
												name="persoalTrainer" value="1" title="不接受" checked>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">期望薪资：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="expectedSalary" required
												lay-verify="required" autocomplete="off" class="layui-input"
												placeholder="请输入您的期望薪资">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">qq号码：</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="qq" required lay-verify="required"
												autocomplete="off" class="layui-input"
												placeholder="请输入您的QQ号码">
										</div>
									</div>
								</blockquote>
								<p>*非必填项</p>
								<blockquote class="layui-elem-quote layui-quote-nm">
									<div class="layui-form-item">
										<label class="layui-form-label">昵称</label>
										<div class="layui-input-block" style="width: 250px;">
											<input type="text" name="nickName" required
												lay-verify="required" placeholder="请输入昵称" autocomplete="off"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-upload">
											<button type="button" class="layui-btn" id="headImg">选择图片</button>
											<div class="layui-upload-list">
												<img class="layui-upload-img" id="img"
													style="width: 130px; height: 150px;">
												<p id="message"></p>
											</div>
											<button type="button" class="layui-btn" id="upload">上传头像</button>
										</div>
									</div>
								</blockquote>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit lay-filter="coachInfo">立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form> -->
							<!-- 场馆信息完善 -->
							<!-- <form class="layui-form layui-form-pane">

								<div class="layui-tab layui-tab-brief"
									lay-filter="docDemoTabBrief">
									<ul class="layui-tab-title">
										<li class="layui-this"><a href="fill.html">基本信息填写</a></li>
										<li><a href="">密码修改</a></li>
									</ul>
								</div>
								<div class="layui-form-item" style="padding-top: 20px;">
									<label class="layui-form-label">地址：</label>
									<div class="layui-input-block">
										<button class="layui-btn" id="choose" type="button">选择地址</button>
									</div>
								</div>
								<div class="layui-form-item" style="padding-top: 20px;">
									<label class="layui-form-label">场馆名称：</label>
									<div class="layui-input-block" style="width: 250px;">
										<input type="text" name="telphone" required
											lay-verify="required" autocomplete="off" class="layui-input"
											placeholder="请输入您的场馆名称">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">联系电话：</label>
									<div class="layui-input-block" style="width: 250px;">
										<input type="text" name="telphone" required
											lay-verify="required" autocomplete="off" class="layui-input"
											placeholder="请输入您的手机号码">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit lay-filter="coachInfo">立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form> -->
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© loveyoga.com - 爱上瑜伽
			</div>
		</div>
	</div>
</body>
</html>